site_name: ProcessScheduler
site_description: A Python framework for project and team management. Automatic and optimized resource scheduling.
strict: true
site_url: https://processscheduler.github.io/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal 
      accent: purple
    - scheme: slate
      toggle:
          icon: material/toggle-switch
          name: Switch to light mode
      primary: teal 
      accent: lime
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/tpaviot/ProcessScheduler
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/thomaspaviot/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2023 <a href="https://github.com/tpaviot" target="_blank" rel="noopener">Thomas Paviot</a>
